[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/grobile
[access "refs/for/refs/*"]
	read = group user/grobile
	push = group user/grobile
	label-Code-Review = -2..+2 group user/grobile
	label-Verified = -1..+1 group user/grobile
	rebase = group user/grobile
	removeReviewer = group user/grobile
	submit = group user/grobile
[access "refs/heads/*"]
	read = group user/grobile
	create = group user/grobile
	push = +force group user/grobile
	pushMerge = group user/grobile
[access "refs/tags/*"]
	push = +force group user/grobile
	pushTag = group user/grobile
	pushSignedTag = group user/grobile
